doctype
html
	head
		meta(charset="utf-8")
		meta(name="description", content="Fuck no.")
		
		title Is it fucking Christmas?
		
		link(rel="canonical", href="http://isitfuckingchristmas.co.uk/")
		link(rel="alternate", type="application/rss+xml", title="RSS", href="http://isitfuckingchristmas.co.uk/rss")
		
		style.
			* { padding: 0; margin: 0; }
			html { background: #fff; color: #000; font: 400 13px/1.231 Arial, sans-serif; }
			a { color: #000; text-decoration: none; }
			.message { font-size: 86px; font-weight: 700; line-height: 86px; text-align: center; position: absolute; top: 50%; width: 100%; margin-top: -43px; z-index: 1; }
			.like { opacity: .333; -moz-transition: all .5s; -webkit-transition: all .5s; position: relative; height: 20px; padding: 15px; z-index: 2; }
			.like:hover { opacity: 1; }
			.like span { float: left; }
		
		<!-- Google Analytics tracking code -->
		script.
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12109165-10']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
	body
		h1.message
			a(href="/rss") #{message}
			
		.like
			span.plus-one
				g:plusone(size="medium", annotation="bubble")
				script.
					window.___gcfg = {lang: 'en-GB'};
					(function() {
						var po = document.createElement('script');
						po.type = 'text/javascript';
						po.async = true;
						po.src = 'https://apis.google.com/js/plusone.js';
						var s = document.getElementsByTagName('script')[0];
						s.parentNode.insertBefore(po, s);
					})();
					
			span.twitter
				a(href="https://twitter.com/share", class="twitter-share-button") Tweet
				script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			span.facebook
				#fb-root
				script.
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				.fb-like(data-send="false", data-layout="button_count", data-width="450", data-show-faces="false", data-font="arial", data-href="http://isitfuckingchristmas.co.uk/")